<div class="container">
	<h1 class="title">Your Optimizely Snippet</h1>
	<canvas id="chart" data-audience="{{ snippet.audiences }}" data-jQuery="{{ snippet.jQuery }}" data-experiments="{{ snippet.experiments }}" data-goals="{{ snippet.goals }}" data-optlyTotal="{{ snippet.optlyTotal }}" data-projectJS="{{ snippet.projectJS }}" data-variations="{{ snippet.variations }}"></canvas>
</div>